body{
    font-family: Arial;
    background: lightgray;
}

.container{
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
}

h1{
    text-align: center;
}

input, select, button{
    padding: 8px;
    margin: 5px;
}

button{
    background: blue;
    color: white;
    border: none;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
    text-align: center;
}

.completed{
    text-decoration: line-through;
    color: green;
}