<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="color: red">Home Page</h1>
    <h2>Hello {{name}}</h2>
    <table style="border: 1cap;">
        <tr>
            <th>Number</th>
            <th>Square</th>
            <th>Root</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{name * name}}</td>
        </tr>
    </table>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, totam
      maxime deleniti <br />
      unde, voluptatem quod dolorem pariatur tempora autem blanditiis sit,
      cupiditate explicabo. Est voluptatum natus veniam aut laborum dolor.
    </p>
  </body>
</html>
