C++/.idea
C++/cmake-build-debug
C++/CMakeLists.txt
C++/main.cpp
!C++/

Java/.idea
Java/Java.iml
Java/out
!Java/src/
*.exe
*.txt

# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pyc
*.h

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
# ---- PyCharm / JetBrains ----
.idea/
*.iml

# ---- OS files ----
.DS_Store
Thumbs.db

# dependencies
/node_modules